{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{% static 'app/css/home_page.css' %}">
</head>

<body>
    {% block content %}
    <!--Navigation Links -->
    <nav class="nav-links">
        <ul>
            <li class="nav-link"><a href="#about">About Me</a></li>
            <li class="nav-link"><a href="#skills">Skills</a></li>
            <li class="nav-link"><a href="#portfolio-section">Portfolio</a></li>
            <li class="nav-link" id="arrow"><a href="">Contact Me</a></li>
        </ul>
    </nav>

    <!-- Profile Photo -->
    <div class="image-holder">
        <img class="profile" src="{% static 'app/images/prof2.png' %}" alt="profile photo" width="378" height="387">
        <div class="text-content">
            <h3>Hi, I am</h3>
            <h1>Samuel Ngige Mungai</h1>
            <h2>Software Engineer</h2>
            <div class="icons">
                <a href="https://github.com/samuelnmu"><img src="{% static 'app/images/ghub-Photoroom.png' %}" alt="GitHub Logo" width="37" height="35"></a>
                <a href="www.linkedin.com/in/samuel-mungai-94056325b"><img src="{% static 'app/images/imageslkn-Photoroom.png' %}" alt="LinkedIn Logo" width="37" height="35"></a>
                <a href="https://x.com/fintechsam_254"><img src="{% static 'app/images/x.png' %}" alt="X Logo" width="37" height="35"></a>
                <p >Check Me Out!</p>
            </div>
        </div>
    </div>  
    
    <!-- Mission Section -->
     <div class="mission-1">
        <h2>My Mission:</h2>
        <div class="mission">
            <p>
                I believe in the power of technology to empower businesses and communities. As a passionate software engineer,
                <br> I'm
                driven by the challenge of solving problems and building systems from the ground up. My work is fueled by
                curiosity and
                strengthened by resilience. <br> I thrive on learning, adapting, and creating tools that make a real difference.
            </p>
            </div>
     </div>

    <!-- About section -->
     <div class="about-me" id="about">
       <div class="about-me1">
        <h1>About Me</h1>
        <p>Hi, I’m Samuel Ngige Mungai, a Software Engineer specializing in Backend Development. I work with Python (FastAPI,
        Django REST Framework) and  JavaScript (React, Express.js) to craft robust, scalable APIs and systems. Driven by curiosity and a
        passion for building things from scratch, I love solving real-world problems through code.
        
        One of my proudest projects is MatatuPay, a digital system transforming Kenya's  transport industry from cash-based to
        digital payments — a testament to how tech can reshape everyday life.
        
        Outside the terminal, I enjoy watching the stars and strategizing over a game of Monopoly.  I bring an adventurous,
        detail-oriented, and curious spirit into everything I do.
        
        Whether it's startups, businesses, or individuals, I aim to create solutions that make a lasting difference.</p>
       </div>

     </div>

     <div class="service-section">
        <div class="services-grid">
            <div class="service">
                <h1>Design</h1>
                <p>
                    I architect backend systems with scalability, performance, and security in mind. I focus on planning clean APIs,
                    database structures, and workflows that ensure efficiency and clarity from the ground up.
                </p>
            </div>

            <div class="service">
                <h1>Development</h1>
                <p>
                    Using technologies like FastAPI, Django REST Framework, and Express.js, I build robust backend systems that power
                    real-world applications. My code is clean, modular, and optimized for performance.
                </p>
            </div>
        
            <div class="service-maintenance">
                <h1>Maintenance</h1>
                <p>
                    I ensure systems stay reliable with regular updates, monitoring, bug fixes, and performance tuning. I also refactor
                    legacy code and adapt to evolving requirements to keep products running smoothly.
                </p>
            </div>
        </div>
     </div>

     <!-- Skills sction -->
      <div class="skills" id="skills">
        <h1>Skills</h1>
        <h3>Using Now:</h3>
        <div class="skills-grid">
            <img src="{% static 'app/images/fast-Photoroom.png'%}" width="84" height="90" alt="">
            <img src="{% static 'app/images/dj-Photoroom.png'%}" width="84" height="90" alt="">
            <img src="{% static 'app/images/fl-Photoroom.png'%}" width="84" height="90" alt="">
            <img src="{% static 'app/images/node-Photoroom.png'%}" width="84" height="90" alt="">
            <img src="{% static 'app/images/git-Photoroom.png'%}" width="84" height="90" alt="">
            <img src="{% static 'app/images/sql.jpg'%}" width="84" height="90" alt="">
            <img src="{% static 'app/images/htl-Photoroom.png'%}" width="115" height="90" alt="">
            <img src="{% static 'app/images/css-Photoroom.png'%}" width="100" height="90" alt="">
            <img src="{% static 'app/images/react-Photoroom.png'%}" width="84" height="84" alt="">
            <img src="{% static 'app/images/angular-Photoroom.png'%}" width="100" height="90" alt="">
            <img src="{% static 'app/images/nest-Photoroom.png'%}" width="100" height="90" alt="">
            <img src="{% static 'app/images/figma.png'%}" width="84" height="90" alt="">
        </div>
      </div>

      <!-- Portfolio section -->
       <div class="portfolio" id="portfolio-section">
        <h1>Portfolio</h1>
           <div class="holder">
            <a href="https://www.canva.com/design/DAGepIG6UFs/4c3iyaXGA9Ri1BhrXBpx9Q/edit?utm_content=DAGepIG6UFs&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"> <img src="{% static 'app/images/MatatuPay_c.png'%}" alt="MatatuPay IMG"></a>
            <div class="text">
                <h3>Product Manager: MatatuPay</h3>
                <p>
                    A hybrid cashless payment system using QR codes and NFC technology for seamless matatu payments, ensuring
                    inclusivity
                    with NFC smartwatches for children, enhancing security, efficiency, and transparency by eliminating cash handling. I
                    am
                    the Founder and the Project Manager of MatatuPay. I also played the role of UI/UX designer.</p>
                </div>
            </div>
           <div class="holder">
            <div class="text">
                <h3>Backend Engineer: Adlumen</h3>
                <p>
                    Adlumen is a decentralized advertising platform built to address the growing concerns around transparency, privacy, and
                    centralized control in digital advertising. The platform aims to give advertisers and publishers more control over their
                    interactions, while ensuring users' data privacy through the use of cutting-edge blockchain and micropayment
                    technologies.
                    
                    Adlumen is built atop the Lightning Network, a second-layer protocol on the Bitcoin blockchain designed for fast and
                    scalable micropayments.
                </p>
            </div>
            <a href="https://www.canva.com/design/DAGeXT4ZyoI/OlhrgZk3g0TzxbeeCzLC5A/edit?utm_content=DAGeXT4ZyoI&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"> <img src="{% static 'app/images/Adlumen.png'%}" alt="Adlumen IMG"></a>
           </div>
           <div class="holder">
            <a href="https://www.canva.com/design/DAGYfi2G4Og/BKB2ayOyJSSPbeUOrIYVxQ/edit?utm_content=DAGYfi2G4Og&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"> <img src="{% static 'app/images/ai.png'%}" alt="AI-PAMSCO IMG"></a>
            <div class="text">
                <h3>Product Manager: AI-PAMSCO</h3>
                <p>
                    AI-PAMSCO (AI-powered Powered Agricultural Market & Supply Chain Optimizer) is an intelligent, digital marketplace
                    designed to revolutionize agricultural trade by connecting farmers, buyers, and transporters on a unified platform. The
                    solution addresses key inefficiencies in the agricultural value chain—such as price exploitation, lack of market access,
                    poor logistics, and digital exclusion—using artificial intelligence, mobile-first access, and real-time coordination
                    tools.
                </p>
            </div>
           </div>
       </div>

    {% endblock %}
</body>

</html>